/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 4.5rem;
  z-index: 9999;
  color: #fff;
}

/* dynamic navbar */
.dn-list {
  list-style: none;
  margin-bottom: 0;
}

.dn-item {
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  height: 48px;
  z-index: 1;
  vertical-align: top;
}

.dn-menuicon {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 48px;
  border-bottom: none;
}

.dn-menuicon-label {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-tap-highlight-color: transparent;
}

.dn-menuicon-bread {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dn-menuicon-bread-top {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  z-index: 4;
}

.dn-menuicon-bread-bottom {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.dn-menuicon-bread-crust {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 16px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.dn-menuicon-bread-crust-top {
  top: 23px;
  -webkit-transition: -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.dn-menuicon-bread-crust-bottom {
  bottom: 23px;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.dn-logo {
  display: block;
  position: absolute;
  width: 48px;
  top: 0;
  left: 50%;
  margin-left: -24px;
  text-align: center;
  z-index: 1;
}

.dn-logo a{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none;
  line-height: 48px;
  color: #fff;
}

/* static navbar */
.static-navbar {
  display: none;
}

.sn-list {
  list-style: none;
  margin-bottom: 0;
  float: right;
}

.sn-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.sn-item a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4.5rem;
  color: #fff;
}

.sn-item a:hover {
  color: #197fc3;
}


/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #197fc3;
  border-color: #197fc3;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  background-color: #197fc3;
  border-color: #197fc3;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading {
  font-weight: 600;
  margin-bottom: 7rem;
}

.section-heading:after {
  display: block;
  content: '';
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: #3d3d3d;
  margin: 24px auto 0;
}

.section-heading.blue {
  color: #197fc3;
}

.section-heading.blue:after {
  background: #197fc3;
}

.section-heading.white {
  color: #fff;
}

.section-heading.white:after {
  background: #fff;
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  color: #fff;
  min-height: 450px;
  position: relative;
}

.hero .overlay {
  background-color: rgba(25, 127, 195, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-heading {
  padding: 9rem 0 7rem 0;
}


.sns li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 3rem;
}

.sns li:first-child {
  margin: 0;
}

.sns a {
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  transition: all cubic-bezier(.645, .045, .355, 1) .3s;
}

.sns a i {
  color: #fff;
  line-height: 44px;
  -webkit-transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  transition: all cubic-bezier(.645, .045, .355, 1) .3s;
}

.sns .twitter:hover {
  background: #59adeb;
  border-color: #59adeb;
}

.sns .github:hover {
  background: #333333;
  border-color: #333333;
}

.sns .dribbble:hover {
  background: #e9508a;
  border-color: #e9508a;
}


/* Creative
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.each-creative {
  margin-bottom: 6rem
}

.creative-title {
  color: #3d3d3d
}

.creative-icon {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.creative-icon.livereport-icon {
  border: 1px #eee solid;
}

.creative-description {
  margin-bottom: 1.2rem;
  color: #3d3d3d
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: #323a45;
  color: #fff;
  padding-bottom: 5rem;
}

.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.footer {
  min-width: 300px;
  background-color: #323a45;
  text-align: center;
}

.footer p {
  padding-top: 1em;
  color: #747c83;
}


/* Bigger than Phone */
@media (min-width: 550px) {

}


/* Bigger than Tablet */
@media (min-width: 750px) {

  /* Navigation Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .dynamic-navbar {
    display: none;
  }
  
  .static-navbar {
    display: block;
  }
}


/* Bigger than PC */
@media (min-width: 1000px) {

  .creative-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
