/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 4.5rem;
  z-index: 9999;
  color: #fff;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  float: right;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4.5rem;
  color: #fff;
}

.navbar-link.active {
  color: rgb(25, 127, 195);
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  color: #fff;
  min-height: 450px;
  position: relative;
}

.hero .overlay {
  background-color: rgba(25, 127, 195, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .title {
  padding-top: 4.0rem;
}

.hero .links {
  padding: 2rem 0 0 0;
}
.hero .links a{
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

.hero .links a:hover{
  text-decoration: underline;
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: #323a45;
  color: #fff;
  padding-bottom: 5rem;
}


/* Bigger than Phone */
@media (min-width: 550px) {

}

/* Bigger than Tablet */
@media (min-width: 750px) {

}

/* Bigger than PC */
@media (min-width: 1000px) {

}
