/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 4.5rem;
  z-index: 9999;
  color: #fff;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  float: right;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4.5rem;
  color: #fff;
}

.navbar-link.active {
  color: #197fc3;
}


/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #197fc3;
  border-color: #197fc3;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  background-color: #197fc3;
  border-color: #197fc3;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading {
  font-weight: 600;
  margin-bottom: 7rem;
}

.section-heading:after {
  display: block;
  content: '';
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: #3d3d3d;
  margin: 24px auto 0;
}

.section-heading.blue {
  color: #197fc3;
}

.section-heading.blue:after {
  background: #197fc3;
}

.section-heading.white {
  color: #fff;
}

.section-heading.white:after {
  background: #fff;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  color: #fff;
  min-height: 450px;
  position: relative;
}

.hero .overlay {
  background-color: rgba(25, 127, 195, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .hero-heading {
  padding: 9rem 0 7rem 0;
}


.hero .sns li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 3rem;
}

.hero .sns li:first-child {
  margin: 0;
}

.hero .sns a {
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  transition: all cubic-bezier(.645, .045, .355, 1) .3s;
}

.hero .sns a i {
  color: #fff;
  line-height: 44px;
  -webkit-transition: all cubic-bezier(.645, .045, .355, 1) .3s;
  transition: all cubic-bezier(.645, .045, .355, 1) .3s;
}

.hero .sns .twitter:hover {
  background: #59adeb;
  border-color: #59adeb;
}

.hero .sns .github:hover {
  background: #333333;
  border-color: #333333;
}

.hero .sns .dribbble:hover {
  background: #e9508a;
  border-color: #e9508a;
}




/* Creative
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.each-creative {
  margin-bottom: 6rem
}

.creative-title {
  color: #3d3d3d
}

.creative-icon {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.creative-icon.livereport-icon {
  border: 1px #eee solid;
}

.creative-description {
  margin-bottom: 1.2rem;
  color: #3d3d3d
}



/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: #323a45;
  color: #fff;
  padding-bottom: 5rem;
}

.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.footer {
  min-width: 300px;
  background-color: #323a45;
  text-align: center;
}

.footer p {
  padding-top: 1em;
  color: #747c83;
}


/* Bigger than Phone */
@media (min-width: 550px) {

}

/* Bigger than Tablet */
@media (min-width: 750px) {

}

/* Bigger than PC */
@media (min-width: 1000px) {
  .creative-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
