@import "common";

$nav-background-color: rgba(0, 0, 0, 0.6);

$navbar-height: 48px;
$navbar-height-open: 118px;

$crust-width: 17px;
$crust-height: 1px;

$navbar-animation-duration: 0.35s;

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#dn-menustate {
  display: none;
  
  ~ #nav {
    .sn-list {
      visibility: hidden;
      
      @include tablet {
        visibility: visible;
      }
    }
  }
  
  &:checked ~ #nav,
  &:target ~ #nav {
    background: #000;
  	height: $navbar-height-open;
  	-webkit-transition: background $navbar-animation-duration linear, height $navbar-animation-duration ease-in;
  	transition: background $navbar-animation-duration linear, height $navbar-animation-duration ease-in;
  	
  	.dn-menuicon-label {
    	-webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  	}
  	
  	.dn-menuicon-bread-top {
    	-webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  	}
  	
  	.dn-menuicon-bread-bottom {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  	}
  	
  	.dn-menuicon-bread-crust-top {
    	-webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition-delay: 0;
      transition-delay: 0;
  	}
  	
  	.dn-menuicon-bread-crust-bottom {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
  	}
  	
  	.dn-menuanchor-open {
    	display: none;
  	}
  	
  	.dn-menuanchor-close {
    	display: block;
  	}
  	
  	.sn-list {
    	-webkit-animation-duration: $navbar-animation-duration;
    	animation-duration: $navbar-animation-duration;
    	-webkit-animation-fill-mode: backwards;
    	animation-fill-mode: backwards;
    	-webkit-animation-name: slidein-animation;
    	animation-name: slidein-animation;
    	-webkit-transition-delay: $navbar-animation-duration;
    	transition-delay: $navbar-animation-duration;
    	visibility: visible;
  	}
  	
  	.sn-item-menu {
    	-webkit-animation-duration: $navbar-animation-duration;
      animation-duration: $navbar-animation-duration;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
    	-webkit-animation-name: slidein-animation;
      animation-name: slidein-animation;
      animation-delay: $navbar-animation-duration;
      -webkit-animation-delay: $navbar-animation-duration;
  	}
  }
}


#nav {
  background: $nav-background-color;
  color: $white-color;
	display: block;
	height: $navbar-height;
	left: 0;
	margin: 0;
	max-height: none;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background $navbar-animation-duration linear, height $navbar-animation-duration ease-in;
	transition: background $navbar-animation-duration linear, height $navbar-animation-duration ease-in;
	width: 100%;
	z-index: 9999;
	
	.nav-container {
  	box-sizing: border-box;
  	margin: 0 auto;
  	max-width: 960px;
  	padding: 0 20px;
  	position: relative;
  	width: 100%;
  	
  	@include tablet {
      width: 80%; 
  	}
  }
  
  .dynamic-navbar {
    @include tablet {
      display: none;
    }
  }
   
  .dn-list {
    list-style: none;
    margin-bottom: 0;
  }
   
  .dn-item {
    display: inline-block;
    height: $navbar-height;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
    z-index: 1;
  }
  
  .dn-menuicon {
    border-bottom: none;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: $navbar-height;
    z-index: 2;
    
    @include tablet {
      display: none;
    }
  }
  
  .dn-menuicon-label {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: block;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    filter: alpha(opacity=100);
    height: $navbar-height;
    opacity: 1;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    width: $navbar-height;
    z-index: 3;
    
    &:hover,
    &:focus,
    &:active {
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
      filter: alpha(opacity=65);
      opacity: .65;
    }
  }
  
  .dn-menuicon-bread {
    height: $navbar-height;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: $navbar-height;
    z-index: 3;
  }
  
  .dn-menuicon-bread-top {    
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    z-index: 4;
  }
  
  .dn-menuicon-bread-bottom {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);    
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  
  .dn-menuicon-bread-crust {
    background: #fff;
    display: block;
    height: $crust-height;
    left: round(($navbar-height - $crust-width)/2);
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    width: $crust-width;
    z-index: 1;
  }
  
  .dn-menuicon-bread-crust-top {
    top: round($navbar-height/2 - 1);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
  }
  
  .dn-menuicon-bread-crust-bottom {
    bottom: round($navbar-height/2 - 1);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }
  
  .dn-menuanchor {
    color: #fff;
  	height: 1px;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 1px;
  	z-index: 10;
  	
  	&:focus {
    	height: $navbar-height;
    	outline-offset: -8px;
      width: $navbar-height;
  	}
  }
  
  .dn-menuanchor-close {
    display: none;
  }
  
  .dn-menuanchor-label {
    border: 0;
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .dn-logo {
    display: block;
    left: 50%;
    margin-left: - round($navbar-height/2);
    position: absolute;
    text-align: center;
    top: 0;
    width: $navbar-height;
    z-index: 1;
    
    a {
      color: #fff;
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
    	filter: alpha(opacity=100);
    	font-size: 14px;
    	font-weight: 400;
    	letter-spacing: normal;
    	line-height: $navbar-height;
    	opacity: 1;
    	text-decoration: none;
    	-webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    	-webkit-tap-highlight-color: transparent;
    	
    	&:hover {      	
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
        filter: alpha(opacity=65);
        opacity: 0.65;
    	}
    }
  }
  
  .static-navbar {
    overflow: hidden;
  }
  
  .sn-logo {
    display: none;
    
    @include tablet {
      display: block;
    }
  }
  
  .sn-list {
    -webkit-overflow-scrolling: touch;
  	margin-bottom: 0;
  	overflow-x: scroll;
  	overflow-y: hidden;
  	padding-bottom: 3rem;
  	position: relative;
  	top: $navbar-height;
  	white-space: nowrap;
  	
  	@include tablet {
    	float: right;
    	list-style: none;
    	overflow: visible;
    	padding-bottom: 0;
    	position: relative;
    	top: 0px;
    	white-space: normal;
  	}
  }
  
  .sn-item-menu {
    display: inline-block;
    
    @include tablet {
      display: block;
    }
  }
  
  .sn-item {
    
    @include tablet {
      float: left;
      margin-bottom: 0;
      position: relative;
    }

    a {
      color: $white-color;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: $navbar-height;
      margin-right: 24px;
      text-decoration: none;
      
      @include tablet {
        display: block;
      }
      
      &:hover {
        color: $main-color;
      }
    }
    
  }
  
  
}
 

@-webkit-keyframes slidein-animation {
  0% {
      opacity: 0
  }

  1% {
      -webkit-transform: translateX(160px);
      transform: translateX(160px)
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}

@keyframes slidein-animation {
  0% {
      opacity: 0
  }

  1% {
      -webkit-transform: translateX(160px);
      transform: translateX(160px)
  }

  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}

