@mixin phablet {
  @media only screen and (min-width: $phone-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $pc-width) {
    @content;
  }
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 144dppx) {
    @content;
  }
}
