$main-color: #398ECA;
$sub-color: #323a45;
$text-color: #3d3d3d;
$footer-text-color: #747c83;
$white-color: #fff;

$twitter-color: #59adeb;
$github-color: #333333;
$medium-color: #00ab6b;

$section-line-height: 4px;
$section-line-width: 24px;

$creative-icon-height: 60px;
$sns-icon-height: 44px;
$about-img-height: 200px;

$phone-width: 550px;
$tablet-width: 750px;
$pc-width: 1000px;

$nav-background-color: rgba(0, 0, 0, 0.6);
$navbar-height: 48px;
$navbar-height-open: 118px;
$crust-width: 17px;
$crust-height: 1px;
$navbar-animation-duration: 0.35s;
