@import 'node_modules/bootstrap/scss/bootstrap';
// @import "variables";

@import "navbar";
// @import "normalize";

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.position-relative {
  position: relative;
}

.hero {
  background-image: url('../images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color: $white;
  height: 100vh;
  max-height: none;
  min-height: 600px;
	padding: 0;
	position: relative;

	.overlay {
  	background-color: rgba(57, 142, 202, 0.8);
  	height: 100%;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
	}
}

.works-icon {
  border-radius: 5px;
  height: 60px;
  width: 60px;
}

.about-img {
  border-radius: 50%;
}