<div class="container">
  <hr />
</div>

<footer class="text-center py-5">
  <div class="container">
    <div class="py-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="{{ site.url }}/">Blog</a>
        </li>
        <li class="list-inline-item">
          <a href="{{ site.url }}/about.html">About</a>
        </li>
        <li class="list-inline-item">
          <a href="//x.com/{{ site.x_username }}">X</a>
        </li>
        <li class="list-inline-item">
          <a href="//github.com/{{ site.github_username }}">GitHub</a>
        </li>
        <li class="list-inline-item">
          <a href="//www.linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn</a>
        </li>
      </ul>
      <p>© 2023 Masamichi Ueta</p>
    </div>
  </div>
</footer>