<div class="container">
  <hr />
</div>

<footer class="text-center py-5">
  <div class="container">
    <div class="py-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="//twitter.com/micchyboy1023">Twitter</a>
        </li>
        <li class="list-inline-item">
          <a href="//github.com/micchyboy1023">Github</a>
        </li>
        <li class="list-inline-item">
          <a href="//medium.com/@micchyboy1023">Medium</a>
        </li>
        <li class="list-inline-item">
          <a href="//note.mu/micchyboy">note</a>
        </li>
      </ul>
      <p>© 2018 micchyboy</p>
    </div>
  </div>
</footer>
