<div class="container">
  <hr />
</div>

<footer class="text-center py-5">
  <div class="container">
    <div class="py-4">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="{{ site.url }}/">Blog</a>
        </li>
        <li class="list-inline-item">
          <a href="{{ site.url }}/about.html">About</a>
        </li>
        <li class="list-inline-item">
          <a href="//twitter.com/masamichiueta">Twitter</a>
        </li>
        <li class="list-inline-item">
          <a href="//github.com/masamichiueta">Github</a>
        </li>
        <li class="list-inline-item">
          <a href="//medium.com/@masamichiueta">Medium</a>
        </li>
        <li class="list-inline-item">
          <a href="//www.linkedin.com/in/masamichi-ueta-b1b88856/">LinkedIn</a>
        </li>
      </ul>
      <p>© 2019 MasamichiUeta</p>
    </div>
  </div>
</footer>