<header>
  <input type="checkbox" id="dn-menustate" class="dn-menustate" />
  <nav id="nav">
    <div class="container">
      <div class="dynamic-navbar">
        <ul class="dn-list">
          <li class="dn-item dn-menuicon">
            <label class="dn-menuicon-label" for="dn-menustate" aria-hidden="true">
              <span class="dn-menuicon-bread dn-menuicon-bread-top">
                <span class="dn-menuicon-bread-crust dn-menuicon-bread-crust-top"></span>
              </span>
              <span class="dn-menuicon-bread dn-menuicon-bread-bottom">
                <span class="dn-menuicon-bread-crust dn-menuicon-bread-crust-bottom"></span>
              </span>
            </label>
            <a href="#dn-menustate" class="dn-menuanchor dn-menuanchor-open" id="dn-menuanchor-open"> <span class="dn-menuanchor-label">Open Menu</span> </a>
  				<a href="#" class="dn-menuanchor dn-menuanchor-close" id="dn-menuanchor-close"> <span class="dn-menuanchor-label">Close Menu</span> </a>
          </li>
          <li class="dn-item dn-logo">
            <a href="{{ site.url }}/">micchyboy</a>
          </li>
        </ul>
      </div>
      <div class="static-navbar">
        <div class="sn-item sn-logo">
          <a href="{{ site.url }}/">micchyboy</a>
        </div>
        <ul class="sn-list">
            <li class="sn-item sn-item-menu">
                <a href="{{ site.url }}/" >Blog</a>
              </li>
          <li class="sn-item sn-item-menu">
            <a href="{{ site.url }}/about.html">About</a>
          </li>
          <li class="sn-item sn-item-menu">
            <a href="//twitter.com/micchyboy1023" target="_blank">Twitter</a>
          </li>
          <li class="sn-item sn-item-menu">
            <a href="//github.com/micchyboy1023" target="_blank">Github</a>
          </li>
          <li class="sn-item sn-item-menu">
            <a href="//medium.com/@micchyboy1023" target="_blank">Medium</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
