<div class="mb-4">
    <h5 class="mt-0 mb-2">運営者プロフィール</h5>
    <div class="ml-2">
        <div class="w-50 py-3">
            <img class="rounded-circle" src="{{ site.url }}/assets/layouts/about.png" alt="micchyboy"/>
        </div>
        <h6 class="mt-0 mb-2">micchyboy</h6>
        <p>ソフトウェアエンジニアです。ソフトウェアエンジニアリング、アプリ開発、仮想通貨、家族、ガジェット、Apple関係のことについて書いています。</p>
    </div>
</div>
<div class="mb-4">
    <h5 class="mt-0 mb-2">カテゴリー</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link py-1" href="{{ site.url }}/">全て({{ site.posts | size }})</a>
        </li>
        {% for category in site.categories %}
        <li class="nav-item">
            {% if category[0] == page.category %}
                {% assign disabled = 'disabled' %}
            {% else %}
                {% assign disabled = '' %}
            {% endif %}
                <a class="nav-link {{disabled}} py-1" href="{{ site.url }}/category/{{ category | first | url_encode }}/index.html">{{ category | first | slug2name }}({{category[1].size}})</a>
        </li>
        {% endfor %}
        </ul>
</div>
<div class="mb-4">
    <h5 class="mt-3 mb-2">新着記事</h5>
    <ul class="nav flex-column">
        {% for post in site.posts limit:5 %}
        <li class="nav-item">
            <a class="nav-link py-1" href="{{ post.url | prepend: site.url }}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="mb-4">
    <h5 class="mt-3 mb-2">Twitter</h5>
    <a class="twitter-timeline" href="https://twitter.com/micchyboy1023?ref_src=twsrc%5Etfw" data-tweet-limit="5">Tweets by micchyboy1023</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</a>
</div>
<div class="mb-4">
    <a href="https://signup.bitbanktrade.jp/invite/B9090YTOL">
        <img src="{{ site.url }}/assets/layouts/bitbank.png" alt="bitbank"/>
    </a>
</div>
<div>
    <a href="https://bitflyer.jp?bf=srgylfz5" target="_blank"><img src="https://bitflyer.jp/Images/Affiliate/affi_04_300x250.gif?201709" alt="bitFlyer ビットコインを始めるなら安心・安全な取引所で"></a>
</div>