@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "variables";
@import "utilities";
@import "navbar";
@import "normalize";

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-heading {
  margin-bottom: 7rem;

  &:after {
    background: $text-color;
    border-radius: round($section-line-height/2);
    content: '';
    display: block;
    height: $section-line-height;
    margin: 24px auto 0;
    width: $section-line-width;
  }

  &.blue {
    color: $main-color;

    &:after {
      background: $main-color;
    }
  }

  &.white {
    color: $white-color;

    &:after {
      background: $white-color;
    }
  }
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color: $white-color;
  height: 100vh;
  max-height: none;
  min-height: 600px;
	padding: 0;
	position: relative;

	@include retina {
  	background-image: url('../images/hero_2x.jpg');
	}

	.overlay {
  	background-color: rgba(57, 142, 202, 0.8);
  	height: 100%;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
	}
}

.hero-content {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}


/* Creative
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.creative-item {
  margin-bottom: 6rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 10rem;
  }
}

.creative-title {
  color: $sub-color;
}

.creative-icon {
  border-radius: 5px;
  height: $creative-icon-height;
  vertical-align: middle;
  width: $creative-icon-height;
}


.creative-description {
  margin-bottom: 1.2rem;
  color: $text-color;

  @include media-breakpoint-up(md) {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Social
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.social {
  background-color: $main-color;
  color: $white-color;
  padding-bottom: 6rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 10rem;
  }
}


/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: $sub-color;
  color: $white-color;
  padding-bottom: 18rem;
}

.about-img {
  border-radius: 50%;
  height: $about-img-height;
  width: $about-img-height;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  min-width: 300px;
  background-color: $sub-color;
  padding: 2rem 0;

  .social-list {
    margin-bottom: 0;

    > li {
      margin-bottom: 0;

      > a {
        color: $footer-text-color;

        &:hover {
          color: $white-color;
        }
      }
    }
  }

  p {
    color: $footer-text-color;
    padding-top: 1em;
  }
}
